body{
    background-color: skyblue;
}
h1{
    text-align: center;
    background-color: orange;
}
form{
    text-align: center;
    font-size: 30px     ;
    background-color: white;
}
hobby{
    font-color: orange;
}
form1{
    line-height: 100px;
}